<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://www.facebook.com/mdahmedindia">
                        <i class="fa fa-facebook"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.twitter.com/mdahmedauthor">
                        <i class="fa fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com.com/in/md-a-a-ahmed-690a0456/">
                        <i class="fa fa-linkedin"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/mdahmedauthor/">
                        <i class="fa fa-instagram"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/channel/UCgFF1EZVAx5uUiKdwj6axWg?view_as=subscriber">
                        <i class="fa fa-youtube"></i>
                    </a>
                </li>
                <li>
                    <a href="https://t.me/MdAhmedAuthor">
                        <i class="fa fa-telegram"></i>
                    </a>
                </li>
                <li>
                    <a href="https://soundcloud.com/user-653749244">
                        <i class="fa fa-soundcloud"></i>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, made by
            <a href="https://www.facebook.com/iksrb/" target="_blank">Kumar Sourabh</a>.
        </div>
    </div>
</footer>
